<div class="row">
  <div class="stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Nouveaux demandes</h6>
        </div>
        <div class="table-responsive pt-3">
          <ng2-smart-table
          [settings]="settings"
          [source]="source"
          (custom)="onCustomAction($event)"
        ></ng2-smart-table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- row -->
