<div class="card">
  <div class="card-body">
    <h6 class="card-title">Changer Votre Mot De Passe</h6>

    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="oldPassowrd"
          >Ancien Mot De Passe</label
        >
        <div class="col-sm-9">
          <input
            class="form-control"
            type="password"
            formControlName="oldPassword"
            id="oldPassword"
            name="oldPassword"
            [(ngModel)]="credentials.oldPassword"
            required
          />
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="newPassword"
          >Nouveau Mot De Passe</label
        >
        <div class="col-sm-9">
          <input
            class="form-control"
            type="password"
            formControlName="newPassword"
            id="newPassword"
            name="newPassword"
            [(ngModel)]="credentials.newPassword"
            required
          />
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="name"
          >Confirmer Nouveau Mot De Passe</label
        >
        <div class="col-sm-9">
          <input
            class="form-control"
            type="password"
            formControlName="confirmNewPassword"
            id="confirmNewPassword"
            name="confirmNewPassword"
            [(ngModel)]="confirmNewUserPassword"
            required
          />
        </div>
      </div>

      <button type="submit" class="btn btn-primary me-2">Submit</button>
      <button type="reset" class="btn btn-secondary">Cancel</button>
      <!-- <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          <br />{{ errorMessage }}
        </div> -->
    </form>
  </div>
</div>
