<div class="card">
  <div class="card-body">
    <h6 class="card-title" *ngIf="demandeType === 'demande-conge'">
      Demande Conge
    </h6>
    <h6
      class="card-title"
      *ngIf="demandeType === 'demande-attestation-travail'"
    >
      Demande Attestation Travail
    </h6>
    <h6 class="card-title" *ngIf="demandeType === 'demande-avance-salaire'">
      Demande Avance Salaire
    </h6>
    <h6
      class="card-title"
      *ngIf="demandeType === 'demande-remboursment-assurance'"
    >
      Demande Remboursement Assurance
    </h6>
    <h6 class="card-title" *ngIf="demandeType === 'demande-fiche-de-paie'">
      Demande Fiche De Paie
    </h6>

    <form [formGroup]="confirmDemandeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Nom Employee</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{ demande.employee.lastName }} {{ demande.employee.name }}
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Date Demande</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{ demande.requestDate | date : "dd-MM-yyyy" }}
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Statue</h6>
        </div>
        <div class="col-sm-9 text-secondary">{{ demande.status }}</div>
      </div>
      <hr />

      <div *ngIf="demandeType === 'demande-conge'">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Date Debut</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ demande.startDate | date : "dd-MM-yyyy" }}
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Date Fin</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ demande.endDate | date : "dd-MM-yyyy" }}
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Type Conge</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ demande.typeConge }}
          </div>
        </div>
        <hr />
      </div>

      <div *ngIf="demandeType === 'demande-attestation-travail'">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Raison</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ demande.demandeReason }}
          </div>
        </div>
        <hr />
      </div>

      <div *ngIf="demandeType === 'demande-avance-salaire'">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Montant</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{ demande.montant }}
          </div>
        </div>
        <hr />
      </div>

      <div *ngIf="demandeType === 'demande-remboursement-assurance'">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Fichier</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <a [href]="demandeDocumentsUrl" target="_blank">{{
              demande.documentName
            }}</a>
          </div>
        </div>
        <hr />
      </div>

      <div
        class="row mb-3"
        *ngIf="
          demandeType === 'demande-conge' && userType === 'CHEF DEPARTEMENT'
        "
      >
        <label class="col-sm-3 col-form-label" for="name">Remplacant</label>
        <div class="col-sm-9">
          <select
            formControlName="remplacant"
            id="remplacant"
            name="remplacant"
            [(ngModel)]="demande.remplacant"
            class="form-select"
          >
            <option value="">--Choisissez Un Remplacant--</option>
            <option
              *ngFor="let remplacant of replacementList"
              [ngValue]="remplacant"
            >
              {{ remplacant.name }} {{ remplacant.lastName }}
            </option>
          </select>
        </div>
      </div>

      <div class="row mb-3" *ngIf="userType === 'ADMIN'">
        <label class="col-sm-3 col-form-label" for="name">Decision</label>
        <div class="col-sm-9" >
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              [value]="true"
              formControlName="confirmDemande"
              [(ngModel)]="demande.approvedByAdmin"
            />
            <label class="form-check-label" for="approvedByAdmin">
              Confirmer
            </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              [value]="false"
              formControlName="confirmDemande"
              [(ngModel)]="demande.approvedByAdmin"
            />
            <label class="form-check-label" for="approvedByAdmin">
              Rejeté
            </label>
          </div>

          <!-- <div class="alert-danger" *ngIf="f.submitted && name.invalid">
        <div *ngIf="name?.errors?.required">Username is required</div>
        <div *ngIf="name?.errors?.minlength">
          Username must be at least 3 characters
        </div>
        <div *ngIf="name?.errors?.maxlength">
          Username must be a maximum of 20 characters
        </div>
      </div> -->
        </div>
      </div>


      <div class="row mb-3" *ngIf="userType === 'CHEF DEPARTEMENT'">
        <label class="col-sm-3 col-form-label" for="name">Decision</label>
        <div class="col-sm-9" >
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              [value]="true"
              formControlName="confirmDemande"
              [(ngModel)]="demande.approvedByCD"
            />
            <label class="form-check-label" for="approvedByCD">
              Confirmer
            </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              [value]="false"
              formControlName="confirmDemande"
              [(ngModel)]="demande.approvedByCD"
            />
            <label class="form-check-label" for="approvedByCD">
              Rejeté
            </label>
          </div>

          <!-- <div class="alert-danger" *ngIf="f.submitted && name.invalid">
        <div *ngIf="name?.errors?.required">Username is required</div>
        <div *ngIf="name?.errors?.minlength">
          Username must be at least 3 characters
        </div>
        <div *ngIf="name?.errors?.maxlength">
          Username must be a maximum of 20 characters
        </div>
      </div> -->
        </div>
      </div>

      <button type="submit" class="btn btn-primary me-2">
        Confirmer Decision
      </button>
      <button type="reset" class="btn btn-secondary">Cancel</button>
      <!-- <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          <br />{{ errorMessage }}
        </div> -->
    </form>
  </div>
</div>
