<div class="card">
  <div class="card-body">
    <h6 class="card-title">Update Module</h6>

    <form [formGroup]="editDepartementForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="name">Name</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="text"
            formControlName="name"
            id="name"
            name="name"
            [(ngModel)]="departement.departementName"
            required
            minlength="3"
            maxlength="20"
          />
          <!-- <div class="alert-danger" *ngIf="f.submitted && name.invalid">
            <div *ngIf="name?.errors?.required">Username is required</div>
            <div *ngIf="name?.errors?.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="name?.errors?.maxlength">
              Username must be a maximum of 20 characters
            </div>
          </div> -->
        </div>
      </div>

      <button type="submit" class="btn btn-primary me-2">Submit</button>
      <button type="reset" class="btn btn-secondary">Cancel</button>
      <!-- <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        <br />{{ errorMessage }}
      </div> -->
    </form>
  </div>
</div>
