<div class="card">
  <div class="card-body">
    <h6 class="card-title">Demande remboursement assurance</h6>

    <form
    [formGroup]="demandeRemboursementAssuranceForm" (ngSubmit)="onSubmit()"
    >
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="files"
          >Demander Une Remboursement</label
        >
        <div class="col-sm-9">
          <input
            class="form-control"
            type="file"
            accept=".pdf,.doc,.docx"
            formControlName="requestDocuments"
            id="requestDocuments"
            name="requestDocuments"
            [(ngModel)]="requestFile"
            required
            (change)="onFileSelected($event)"
          />
          <!-- <div class="alert-danger" *ngIf="f.submitted && username.invalid">
            <div *ngIf="username?.errors?.required">files is required</div>
            <div *ngIf="username?.errors?.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username?.errors?.maxlength">
              Username must be a maximum of 3 characters
            </div>
          </div> -->
        </div>
      </div>

      <button type="submit" class="btn btn-primary me-2">Submit</button>
      <button type="reset" class="btn btn-secondary">Cancel</button>
      <!-- <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        <br />{{ errorMessage }}
      </div> -->
    </form>
  </div>
</div>
